<script src="../javascripts/jquery.min.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>
<script src="https://unpkg.com/vue@next/dist/vue.js"></script>


{{#with templatesPage}}<script src="../javascripts/template.js"></script>{{/with}}
{{#with usersPage}}<script src="../javascripts/user.js"></script>{{/with}}
{{#with historyPage}}<script src="../javascripts/history.js"></script>{{/with}}
</body></html>