<div id="notificationSendModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Enviar notificação</h4>
            </div>

            <div class="modal-body">

                <form id="sendNotificationForm" v-on:submit.prevent="sendNotification">
                    <div class="form-group">
                        <label for="tipoMsg"> Tipo de mensagem: <br>
                            <input id="radio1" type="radio" name="tipoMsg" value="Manual" v-model="picked">Manual<br>
                            <input id="radio2" type="radio" name="tipoMsg" value="Template" v-model="picked">
                            Template <br>
                        </label>
                    </div>

                    <div id="templateList" class="form-group" style="display:none">
                        <label for="templateList"> Escolha um template: </label>
                        <select title="templateList" v-model="select">
                            <option :value="template.id" v-for="template in templates">\{{template.name}}</option>
                        </select>
                    </div>

                    <div id="contentManualMsg" class="form-group" style="display:none">
                        <label for="manual-msg">Escreva a sua mensagem:</label>
                        <br>
                        <label for="titleNotification"> Título: </label>
                        <input v-model="msgTitle" type="text" id="manual-msg-title" name="title"
                               class="form-control">
                        <label> Conteúdo: </label>
                        <textarea v-model="msgContent" rows="4" cols="50" id="manual-msg-content" name="content"
                                  class="form-control"></textarea>
                    </div>

                    <div class="modal-footer">
                        <button v-if="picked == 'Template'" v-on:click="reviewContent" type="button"
                                class="btn btn-default" data-toggle="collapse"
                                data-target="#previewCreate">Pré-visualização
                        </button>
                        <button type="submit" class="btn btn-default">
                            Enviar
                        </button>
                        <div id="previewCreate" class="collapse" style="text-align: left">
                            <label>Conteúdo do template:</label>
                            <textarea v-model="previewContent" rows="4" cols="50" name="content" class="form-control">
                </textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>