{{> header}}

<body>

<div id="wrapper">
    {{> navbar historyPage=historyPage }}

    <div id="page-wrapper">

        <div class="container-fluid" id="table">
            <!-- Page Heading -->
            <div class="row header-page">
                <h1 class="col-lg-6">
                    Histórico de Mensagens
                </h1>
            </div>

            <div class="row">
                <div class="col-lg-6 crud">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Filtros <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a v-on:click="addFilter('mail')">Mail</a></li>
                                <li><a v-on:click="addFilter('votou')">Votou</a></li>
                                <li><a v-on:click="addFilter('telemovel')">Telemóvel</a></li>
                                <li><a v-on:click="addFilter('pagamento_em')">Pagamento</a></li>
                                <li><a v-on:click="addFilter('ult_actividade_a_mais')">Última Actividade</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                        <input v-model="search" type="text" class="form-control" aria-label="...">
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Data</th>
                    <th>Título</th>
                    <th>Conteúdo</th>
                    <th>Tipo</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="message in messages" style="cursor:pointer" v-on:click="message.open=!message.open">
                        <td v-if="message.open"><i class="fa fa-arrow-down" aria-hidden="true"></i></td>
                        <td v-else><i class="fa fa-arrow-right" aria-hidden="true"></i></td>
                        <td>\{{message.date}}</td>
                        <td>\{{message.title}}</td>
                        <td>\{{message.content}}</td>
                        <td>\{{message.type}}</td>
                    </tr>

                </tbody>
            </table>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
</div>
{{> footer historyPage=historyPage}}