<!DOCTYPE html>
<html lang="pt">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Movimento1Euro</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../stylesheets/login.css" type="text/css">

</head>


<body>

<div class="container">
    <div class="row">
        <img class="img-responsive col-xs-12 col-md-6 col-offset-3 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4" src="../images/MOV1EUROLOGO.png"></img>
    </div>
    <div class="row text-center">
        <!-- col-xs-12 col-md-6 col-md-offset-4 col-xs-offset-2 col-sm-8 col-lg-4 -->
        <div class="login-page col-xs-12 col-md-6 col-offset-3 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4">
            <div class="form">
                <form class="login-form" method="POST" action="/process_login">
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="password" placeholder="password">
                    <button class="btn btn-default" type="button">login</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
